
.price{
    background-color: green;
    width: 50px;
}
.img{
    width: 100%;
    height: 100%;
}
.noAvailable{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.noProd{

    filter: blur(2px);
    
}