.movie-card {
    width: 100%;
    max-width: 350px;
    overflow: hidden;
    cursor: pointer;
}

.img-wrapper {
    position: relative;
    overflow: hidden;
}

.img-wrapper img {
    height: 220px;
    object-fit: cover;
    transition: transform 0.4s ease;
}

.movie-card:hover img {
    transform: scale(1.1);
}

.overlay {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.3));
    color: #fff;
    padding: 15px;
    transition: bottom 0.4s ease;
    display: flex;
    align-items: flex-end;
}

.movie-card:hover .overlay {
    bottom: 0;
}

.overview {
    font-size: 13px;
    line-height: 1.5;
    max-height: 120px;
    overflow: hidden;
}
.rating{
    height: 40px;
    width: 50px;
    border-radius: 15px;
    text-align: center;
}